.agencia {
  font-family: Helvetica;
}

.agencia header {
  display: flex;
  background-color: rgb(184, 205, 218);
  justify-content: center;
  align-items: center;
  height: 50px;
}

/*.agencia img {
  height: 100%;
  mask-composite: subtract;
  background-color: aqua;
}*/
.travellogo {
  height: 100%;
}
.barra ul {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style: none;
  background-color: rgb(92, 143, 17);
}
.barra span {
  color: white;
}
.barra a {
  color: white;
  padding: 5px 5px;
  font-size: 12px;
  display: block;
}
.ilustracion img {
  max-height: 150px;
  width: 100%;
  margin-bottom: 30px;
}

.rurales {
    border: 4px solid rgba(151, 128, 0, 0.772);
    margin-top: 10 px;
    margin-bottom: 30px;
    /*background: radial-gradient(circle at 20px 20px, white .5%, rgb(255, 230, 89) 100%);*/
    background-color: rgb(254, 242, 173);
    padding: 10px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.rurales h2 {
  margin: 0px;
}
.rurales p {
  font-size: 12px;
  margin-top: 12px;
}
.cabin {
    width: 40px;
    height: 40px;
    fill: rgba(151, 128, 0, 0.772);
    margin-bottom: 8px;
    
}
.camping {
    border: 4px solid rgba(0, 120, 28, 0.772);
    margin-top: 10 px;
    margin-bottom: 30px;
    /*background: radial-gradient(circle at 20px 20px, white .5%, rgb(255, 230, 89) 100%);*/
    background-color: rgb(211, 252, 172);
    padding: 10px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.camping h2 {
  margin: 0px;
}
.camping p {
  font-size: 12px;
  margin-top: 12px;
}
.campinglogo {
    width: 40px;
    height: 40px;
    fill: rgba(0, 120, 28, 0.772);
    margin-bottom: 8px;
    
}
.hoteles {
    border: 4px solid rgba(0, 54, 120, 0.772);
    margin-top: 10 px;
    margin-bottom: 10px;
    /*background: radial-gradient(circle at 20px 20px, white .5%, rgb(255, 230, 89) 100%);*/
    background-color: rgb(172, 237, 252);
    padding: 10px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.hoteles h2 {
  margin: 0px;
}
.hoteles p {
  font-size: 12px;
  margin-top: 12px;
}
.hotellogo {
    width: 40px;
    height: 40px;
    fill: rgba(0, 54, 120, 0.772);
    margin-bottom: 8px;
    
}